<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title><?php echo $pageTitle; ?></title>
</head>
<body id="site-body">
<div id="container">
	<div id="intro">
		<div id="pageHeader">
			<h1><span><?php echo $pageHeader; ?></span></h1>
			<h2><span><?php echo $tagline; ?></span></h2>
		</div>
		<div id="quickSummary">
			<p class="p1"><span><?php echo $summaryParagraph1; ?></span></p>
			<p class="p2"><span><?php echo $summaryParagraph2; ?></span></p>
		</div>
		
	</div>
	<div id="navigation"></div>
	<div id="linklist"></div>
</div>
</body>
</html>